
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; 
    color: #333; 
    line-height: 1.6;
}


header h1 {
    margin: 0;
    font-size: 2.5em;
}
